@use '../utils' as *;

/*----------------------------------------*/
/*  2.1 Back to top
/*----------------------------------------*/

.whatsapp-btn-wrapper{
	position: fixed;
    right: 50px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    z-index: 99;
	@include transition(.3s);

	@media #{$xs}{
		right: 20px;
		bottom: 20px;
	}
    &.whatsapp-btn-bottom{
        bottom: 110px;
    }
}

.whatsapp-btn{
	display: inline-block;
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	box-shadow: 0px 8px 16px rgba(3, 4, 28, 0.3);
	color: var(--tp-common-white);
	border-radius: 50%;
	@include transition(.2s);

	& svg{
		@include transform(translateY(-2px));
	}

	&:hover{
		@include transform(translateY(-4px));
	}

}
.back_to_top-2 {
	&.hidden {
		visibility: hidden;
	}
}